
form > * {
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
}

#form-post-title {
    width: 18.8rem;
}

#form-post-title, #form-post-content {
    border: .06rem solid #ced4da;
    padding: .5rem;
    border-radius: .31rem;
    color: #495057;
}

#form-post-content {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 18.8rem;
}

#form-post-submit {
    background-color: #004186;
    border-color: #004186;
    color: white;
    padding: .375rem .75rem;
    border-radius: .18rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#form-post-submit:hover {
    background-color: #002349;
}




